CMakeCache.txt
cmake_install.cmake
cmake_uninstall.cmake
CTestTestfile.cmake
CMakeFiles/
Makefile
install_manifest.txt
*.a
*.so
*.pyc
*.pyo
/swig/_*
/swig/*.py
/swig/*.tag
/swig/*.cxx
/swig/*_doc*
get_swig_deps.py
python_compile_helper.py
